<li class="nav-item dropdown">
    <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <i class="flag-icon flag-icon-br"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
        <a class="dropdown-item" href="#">
            <i class="flag-icon flag-icon-es"></i>
            español
        </a>
</li>