<div class="col-md-12 m-t-10">
    <h3 class="p-relative"><span class="lstick"></span> Message<span class="pull-right font-14  p-2 label label-rounded label-success">16</span></h3>
    <div class="msg-widget m-t-20">
        <!-- Message Item -->
        <div class="msg-item">
            <div class="msg-body">
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                <span class="dwn-aro"></span>
            </div>
            <div class="m-t-20 d-flex">
                <div class="m-pic m-r-20"><img src="{{ asset('assets/images/users/profile.png') }}" alt="user"></div>
                <div class="author">
                    <h5 class="m-b-0">Mark Freeman</h5>
                    <p class="text-muted font-14">Today 04:12 PM</p>
                </div>
            </div>
        </div>
        <!-- Message Item -->
        <div class="msg-item">
            <div class="msg-body">
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                <span class="dwn-aro"></span>
            </div>
            <div class="m-t-20 d-flex">
                <div class="m-pic m-r-20"><img src="../assets/images/users/4.jpg" alt="user"></div>
                <div class="author">
                    <h5 class="m-b-0">Mark Freeman</h5>
                    <p class="text-muted font-14">Today 04:12 PM</p>
                </div>
            </div>
        </div>
        <!-- Message Item -->
        <div class="msg-item">
            <div class="msg-body">
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                <span class="dwn-aro"></span>
            </div>
            <div class="m-t-20 d-flex">
                <div class="m-pic m-r-20"><img src="../assets/images/users/2.jpg" alt="user"></div>
                <div class="author">
                    <h5 class="m-b-0">Mark Freeman</h5>
                    <p class="text-muted font-14">Today 04:12 PM</p>
                </div>
            </div>
        </div>
    </div>
</div>