{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});">
        <div class="login-box card">
            {#{{ include('auth/inc/_register.html.twig') }}#}
            {{ include ('@FOSUser/Registration/register_content.html.twig') }}
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
{% endblock %}


