<div class="card">
    <div class="card-body">
        <h4 class="card-title">Editable with Datatable</h4>
        <h6 class="card-subtitle">Just click on word which you want to change and enter</h6>
        <table class="table table-striped table-bordered" id="chamado-datatable">
            <thead>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
            </thead>
        </table>
    </div>
</div>