<select class="combo-status">
    <option value="null">Cambiar</option>
    <option disabled>_________</option>
    <option value="blue">Azul</option>
    <option value="LightSkyBlue">Azul Claro</option>
    <option value="darkblue">Azul Escuro</option>
    <option value="crimson">Crimson</option>
    <option value="goldenrod">Dourado</option>
    <option value="teal">Petroleo</option>
    <option value="black">Preto</option>
    <option value="deeppink">Rosa Profundo</option>
    <option value="green">Verde</option>
    <option value="darkgreen">Verde Escuro</option>
    <option value="red">Vermelho</option>
</select>