<aside class="right-side-panel">
    <div class="row">
        <!-- Weather Widget -->
            {{ include('backend/widgets/_weather.html.twig') }}
        <!-- End Weather Widget -->

        <!-- Message Widget -->
            {#{{ include('backend/widgets/_message.html.twig') }}#}
        <!-- End Message Widget -->

        <!-- Social Widget -->
            {{ include('backend/widgets/_social.html.twig') }}
        <!-- Social Widget -->
    </div>
</aside>
