<div class="col-md-12 m-t-10">
    <div class="card bg-info text-white">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white">3257+</h1>
                    <h6 class="text-white">Seguidores</h6>
                    <a href=""
                       class="btn btn-rounded btn-outline btn-light m-t-10 font-14">
                        Enviar SMS
                    </a>
                    {#<button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Enviar SMS</button>#}
                </div>
                <div class="stats-icon text-right ml-auto"><i class="fa fa-twitter display-5 op-3 text-dark"></i></div>
            </div>
        </div>
    </div>
    <!-- twitter Widget -->
    <!-- twitter Widget -->
    <div class="card bg-primary text-white">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white">6509+</h1>
                    <h6 class="text-white">Curtidas</h6>
                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                </div>
                <div class="stats-icon text-right ml-auto"><i class="fa fa-facebook display-5 op-3 text-dark"></i></div>
            </div>
        </div>
    </div>
    <!-- facebook Widget -->
    <!-- subscribe Widget -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="">9062+</h1>
                    <h6 class="text-muted">Subscribe</h6>
                    <button class="btn btn-rounded btn-outline btn-secondary m-t-10 font-14">Check list</button>
                </div>
                <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
            </div>
        </div>
    </div>
</div>