<a href="{{ path('homepage') }}" class="text-center db">
    {#<img height="120" width="120" src="{{ asset('assets/images/logo-novo.png') }}" alt="Home" />#}
    {#<br/>#}
    {#<img height="40" width="220" src="{{ asset('assets/images/texto.png') }}" alt="Home" />#}
    <img height="120" width="120" src="{{ asset('assets/images/cmicro_logo.png') }}" alt="logo da Clínica do Micro">
</a>
<hr>